@import 'libr/_bootstrap-reboot.min.scss'
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

*
    font-family: 'Roboto', sans-serif
    margin: 0
    padding: 0

.container
    width: 1200px
    margin: 0 auto

.title
    color: #703412
    padding-left: 72px
    font-weight: 400

@import blocks/_header
@import blocks/_welcome
@import blocks/_explore
@import blocks/_footer
@import blocks/_media
